body {
    color: #fff;
    background: linear-gradient(to right, rgba(0, 115, 230), rgba(148, 77, 255));
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1 {
    text-align: center;
    color: #fff;
}

label{
    color: #fff;
    margin-top: 10px;
}

button{
    border: 1px #ddd;
    border-radius: 8px;
    margin-top: 10px;
    color: #fff;
    background-color: #49bf4b;
    width: 100px;
    height: 50px;
}

section {
    border-style: inset;
    border-width: 3px;
    border-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: #0d0d0d ;
    background-color: #1a1a1a;
    display: grid;
    place-items: center;
    justify-items: center;
    
}